<div id="{{mojit_view_id}}" >
	<div class="addSubject overlay" style="display:none;">
		<div class="modal">
		    <h3>Add Subject</h3>

		    <!-- form -->
		      <form class="pure-form pure-form-aligned" action="*" method="post" id="addSubjectForm">
		        <fieldset>
		        	<div class="pure-control-group">
				        
				        <input id="title" class="pure-input-1" type="text" name="title" placeholder="Title"/>
			    	
			    	</div>
			        <div class="pure-control-group">
				        
				        <textarea rows="4" id="body" class="pure-input-1" type="text" name="body" placeholder="Body"/></textarea>
			       	
			       	</div>
			        
			        <button type="submit" id="mySub" class="pure-button pure-button-primary">Add</button>
		        </fieldset>
		    </form>
	    </div>
	</div>
</div>
