@import "elements.less"; /*source from http://lesselements.com/*/

/*Global variables*/
@color: #F0F0F0;
@colorBase: #F5F5F5;
@colorMeddium: #EEE;
@transparency: #000;
/*green theme*/
@colorButtonsTheme: #43eebf;
@colorButtonsThemeHover:#00d3b2;

/*padding*/
@paddingG: 14px; 


/*import fundation*/

/*import base*/
@import "pure_less/base-context.less";
@import "pure_less/base.less";

/*import buttons*/
@import "pure_less/buttons-core.less";
@import "pure_less/buttons.less";

/*import forms*/
@import "pure_less/forms-core.less";


/*import grids*/
@import "pure_less/grids.less";


/*import menus*/
@import "pure_less/menus-core.less";

/*extrax*/
@import "extras.less";

/*fonts*/

@font-face{ font-family: 'nexa bold'; 
                    src: url('webfont/nexa_bold-webfont.eot'); 
                    src: url('webfont/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'), 
                    url('webfont/nexa_bold-webfont.woff') format('woff'), 
                    url('webfont/nexa_bold-webfont.ttf') format('truetype'), 
                    url('webfont/nexa_bold-webfont.svg#webfont') format('svg'); }

@font-face{ font-family: 'nexa light'; 
                    src: url('webfont/light-webfont.eot'); 
                    src: url('webfont/nexa_light-webfont.eot?#iefix') format('embedded-opentype'), 
                    url('webfont/nexa_light-webfont.woff') format('woff'), 
                    url('webfont/nexa_light-webfont.ttf') format('truetype'), 
                    url('webfont/nexa_light-webfont.svg#webfont') format('svg'); }                    

html, button, input, select, textarea{
font-family: 'nexa light';
font-style: normal;
font-weight: 400; 
letter-spacing: 0.05em;
text-rendering: optimizeLegibility;
}

/*green theme*/
.pure-test{
  color: @color;
  .gradient(@colorBase, @colorMeddium, @transparency);

};

.pure-button-hover,
.pure-button:hover,
.pure-button:focus {
  background-color: @colorButtonsThemeHover;

};

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
	background-color: @colorButtonsThemeHover;
   
};

.pure-button{
	width:100%;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    *color: #444; /* IE 6 & 7 */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color:  @colorButtonsTheme;

}; 


/*generals helpers*/

.float-left{
 float:left;
}
.float-right{
	float: right;
}

.clear-fix:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear-fix
{
    zoom: 1;
}

.make-block{
	display: block;
}

.circular-icons{
    margin-top: 7px;
    text-align: center;
}

.circular-icons > img{
    border-radius: 80%;
}

.AddpaddingG{
    padding: 10px @paddingG;
}

.centerText{
    text-align: center;
}

.hoCenterText{
    text-align: center;
}


