.pure article,.pure aside,.pure details,.pure figcaption,.pure figure,.pure footer,.pure header,.pure hgroup,.pure main,.pure nav,.pure section,.pure summary{display:block}
.pure audio,.pure canvas,.pure video{display:inline-block}
.pure audio:not([controls]){display:none;height:0}
.pure [hidden]{display:none}
.pure{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
.pure,.pure button,.pure input,.pure select,.pure textarea{font-family:sans-serif}
.pure body{margin:0}
.pure a:focus{outline:thin dotted}
.pure a:active,.pure a:hover{outline:0}
.pure h1{font-size:2em;margin:.67em 0}
.pure h2{font-size:1.5em;margin:.83em 0}
.pure h3{font-size:1.17em;margin:1em 0}
.pure h4{font-size:1em;margin:1.33em 0}
.pure h5{font-size:.83em;margin:1.67em 0}
.pure h6{font-size:.67em;margin:2.33em 0}
.pure abbr[title]{border-bottom:1px dotted}
.pure b,.pure strong{font-weight:bold}
.pure blockquote{margin:1em 40px}
.pure dfn{font-style:italic}
.pure hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
.pure mark{background:#ff0;color:#000}
.pure p,.pure pre{margin:1em 0}
.pure code,.pure kbd,.pure pre,.pure samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}
.pure pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
.pure q{quotes:none}
.pure q:before,.pure q:after{content:'';content:none}
.pure small{font-size:80%}
.pure sub,.pure sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
.pure sup{top:-0.5em}
.pure sub{bottom:-0.25em}
.pure dl,.pure menu,.pure ol,.pure ul{margin:1em 0}
.pure dd{margin:0 0 0 40px}
.pure menu,.pure ol,.pure ul{padding:0 0 0 40px}
.pure nav ul,.pure nav ol{list-style:none;list-style-image:none}
.pure img{border:0;-ms-interpolation-mode:bicubic}
.pure svg:not(:root){overflow:hidden}
.pure figure{margin:0}
.pure form{margin:0}
.pure fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
.pure legend{border:0;padding:0;white-space:normal}
.pure button,.pure input,.pure select,.pure textarea{font-size:100%;margin:0;vertical-align:baseline}
.pure button,.pure input{line-height:normal}
.pure button,.pure select{text-transform:none}
.pure button,.pure input[type="button"],.pure input[type="reset"],.pure input[type="submit"]{-webkit-appearance:button;cursor:pointer}
.pure button[disabled],.pure input[disabled]{cursor:default}
.pure input[type="checkbox"],.pure input[type="radio"]{box-sizing:border-box;padding:0}
.pure input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
.pure input[type="search"]::-webkit-search-cancel-button,.pure input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
.pure button::-moz-focus-inner,.pure input::-moz-focus-inner{border:0;padding:0}
.pure textarea{overflow:auto;vertical-align:top}
.pure table{border-collapse:collapse;border-spacing:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:sans-serif}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:1.7em;margin:.67em 0}
h2{font-size:1.2em;margin:.83em 0}
h3{font-size:.87em;margin:1em 0}
h4{font-size:.7em;letter-spacing:.1em;margin:1.33em 0}
h5{font-size:.6em;margin:1.67em 0}
h6{font-size:.5em;margin:2.33em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
p,pre{margin:1em 0}
code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:'';content:none}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
dl,menu,ol,ul{margin:1em 0}
dd{margin:0 0 0 40px}
menu,ol,ul{padding:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0}
.pure-button{display:inline-block;*display:inline;zoom:1;line-height:normal;white-space:nowrap;vertical-align:baseline;text-align:center;cursor:pointer;-webkit-user-drag:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.pure-button::-moz-focus-inner{padding:0;border:0}
.ruben_test{background-color:#f0f0f0}
.pure-button{display:inline-block;*display:inline;zoom:1;line-height:normal;white-space:nowrap;vertical-align:baseline;text-align:center;cursor:pointer;-webkit-user-drag:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.pure-button::-moz-focus-inner{padding:0;border:0}
.pure-button{font-size:100%;*font-size:90%;*overflow:visible;padding:.5em 1.5em .5em;text-decoration:none;-webkit-font-smoothing:antialiased;-webkit-transition:.1s linear -webkit-box-shadow;-moz-transition:.1s linear -moz-box-shadow;-ms-transition:.1s linear box-shadow;-o-transition:.1s linear box-shadow;transition:.1s linear box-shadow}
.pure-button:focus{outline:0}
.pure-button-active,.pure-button:active{box-shadow:0 0 0 1px rgba(0,0,0,0.15) inset,0 0 6px rgba(0,0,0,0.2) inset}
.pure-button[disabled],.pure-button-disabled,.pure-button-disabled:hover,.pure-button-disabled:focus,.pure-button-disabled:active{border:none;background-image:none;filter:alpha(opacity=40);-khtml-opacity:.4;-moz-opacity:.4;opacity:.4;cursor:not-allowed;box-shadow:none}
.pure-button-hidden{display:none}
.pure-button::-moz-focus-inner{padding:0;border:0}
.pure-button-primary,.pure-button-selected,a.pure-button-primary,a.pure-button-selected{background-color:#0078e7;color:#fff}
.pure-form{margin:0}
.pure-form fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
.pure-form legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
.pure-form button,.pure-form input,.pure-form select,.pure-form textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
.pure-form button,.pure-form input{line-height:normal}
.pure-form button,.pure-form input[type="button"],.pure-form input[type="reset"],.pure-form input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
.pure-form button[disabled],.pure-form input[disabled]{cursor:default}
.pure-form input[type="checkbox"],.pure-form input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
.pure-form input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
.pure-form input[type="search"]::-webkit-search-cancel-button,.pure-form input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
.pure-form button::-moz-focus-inner,.pure-form input::-moz-focus-inner{border:0;padding:0}
.pure-form textarea{overflow:auto;vertical-align:top;}
.pure-g{letter-spacing:-0.31em;*letter-spacing:normal;*word-spacing:-0.43em;text-rendering:optimizespeed;}
.opera-only :-o-prefocus,.pure-g{word-spacing:-0.43em}
.pure-u{display:inline-block;*display:inline;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}
.pure-u-1,.pure-u-1-2,.pure-u-1-3,.pure-u-2-3,.pure-u-1-4,.pure-u-3-4,.pure-u-1-5,.pure-u-2-5,.pure-u-3-5,.pure-u-4-5,.pure-u-1-6,.pure-u-5-6,.pure-u-1-8,.pure-u-3-8,.pure-u-5-8,.pure-u-7-8,.pure-u-1-12,.pure-u-5-12,.pure-u-7-12,.pure-u-11-12,.pure-u-1-24,.pure-u-5-24,.pure-u-7-24,.pure-u-11-24,.pure-u-13-24,.pure-u-17-24,.pure-u-19-24,.pure-u-23-24{display:inline-block;*display:inline;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}
.pure-u-1{display:block}
.pure-u-1-2{width:50%}
.pure-u-1-3{width:33.33333%}
.pure-u-2-3{width:66.66666%}
.pure-u-1-4{width:25%}
.pure-u-3-4{width:75%}
.pure-u-1-5{width:20%}
.pure-u-2-5{width:40%}
.pure-u-3-5{width:60%}
.pure-u-4-5{width:80%}
.pure-u-1-6{width:16.666%}
.pure-u-5-6{width:83.33%}
.pure-u-1-8{width:12.5%}
.pure-u-3-8{width:37.5%}
.pure-u-5-8{width:62.5%}
.pure-u-7-8{width:87.5%}
.pure-u-1-12{width:8.3333%}
.pure-u-5-12{width:41.6666%}
.pure-u-7-12{width:58.3333%}
.pure-u-11-12{width:91.6666%}
.pure-u-1-24{width:4.1666%}
.pure-u-5-24{width:20.8333%}
.pure-u-7-24{width:29.1666%}
.pure-u-11-24{width:45.8333%}
.pure-u-13-24{width:54.1666%}
.pure-u-17-24{width:70.8333%}
.pure-u-19-24{width:79.1666%}
.pure-u-23-24{width:95.8333%}
.pure-g-r{letter-spacing:-0.31em;*letter-spacing:normal;*word-spacing:-0.43em}
.opera-only :-o-prefocus,.pure-g-r{word-spacing:-0.43em}
.pure-g-r img{max-width:100%}
@media (min-width:980px){.pure-visible-phone{display:none} .pure-visible-tablet{display:none} .pure-hidden-desktop{display:none}}@media (max-width:480px){.pure-g-r>.pure-u,.pure-g-r>[class*="pure-u-"]{width:100%}}@media (max-width:767px){.pure-g-r>.pure-u,.pure-g-r>[class*="pure-u-"]{width:100%} .pure-hidden-phone{display:none} .pure-visible-desktop{display:none}}@media (min-width:768px) and (max-width:979px){.pure-hidden-tablet{display:none} .pure-visible-desktop{display:none}}.pure-menu ul{position:absolute;visibility:hidden}
.pure-menu.pure-menu-open{visibility:visible;z-index:2;width:100%}
.pure-menu ul{left:-10000px;list-style:none;margin:0;padding:0;top:-10000px;z-index:1}
.pure-menu>ul{position:relative}
.pure-menu-open>ul{left:0;top:0;visibility:visible}
.pure-menu-open>ul:focus{outline:0}
.pure-menu li{position:relative}
.pure-menu a,.pure-menu .pure-menu-heading{display:block;color:inherit;line-height:1.5em;text-decoration:none;white-space:nowrap}
.pure-menu.pure-menu-horizontal>.pure-menu-heading{display:inline-block;*display:inline;zoom:1;margin:0;vertical-align:middle}
.pure-menu.pure-menu-horizontal>ul{display:inline-block;*display:inline;zoom:1;vertical-align:middle;height:2.4em}
.pure-menu-can-have-children>.pure-menu-label:after{content:'\25B8';float:right;font-family:'Lucida Grande','Lucida Sans Unicode','DejaVu Sans',sans-serif;margin-right:-20px;margin-top:-1px}
.pure-menu-can-have-children>.pure-menu-label{padding-right:30px}
.pure-menu-separator{background-color:#dfdfdf;display:block;height:1px;font-size:0;margin:7px 2px;overflow:hidden}
.pure-menu-hidden{display:none}
.pure-menu-fixed{position:fixed;top:0;left:0;width:100%}
.pure-menu-horizontal li{display:inline-block;*display:inline;zoom:1;vertical-align:middle}
.pure-menu-horizontal li li{display:block}
.pure-menu-horizontal>.pure-menu-children>.pure-menu-can-have-children>.pure-menu-label:after{content:"\25BE"}
.pure-menu-horizontal>.pure-menu-children>.pure-menu-can-have-children>.pure-menu-label{padding-right:30px}
.pure-menu-horizontal li.pure-menu-separator{height:50%;width:1px;margin:0 7px}
.pure-menu-horizontal li li.pure-menu-separator{height:1px;width:auto;margin:7px 2px}
.pure-img-eliptical{border-radius:80%}
.pure-img-rounded{border-radius:3px}
.pure-img-bordered{background-color:#fff;border:1px solid rgba(0,0,0,0.2);padding:5px}
.pure-thumbnails li{text-align:center;display:inline-block;*display:inline;*zoom:1;vertical-align:top;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:.5em}
.pure-thumbnails{list-style:none;margin:0;padding:0}
.pure-thumbnails a:focus{outline:0 none}
.pure-thumb{display:block;text-decoration:none;color:inherit}
.pure-thumb img{max-width:100%;margin-right:auto;margin-left:auto;vertical-align:middle;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.pure-thumb-bordered{border:1px solid rgba(0,0,0,0.2)}
.pure-thumb .caption{text-align:left;display:block;margin:0 5px 6px}
.pure-thumb .caption p{margin:.3em 0 0;font-size:75%}
.pure-thumb .caption .caption-head{font-weight:bold;margin-top:.3em}
.pure-thumb-eliptical img{border-radius:50%}
.pure-thumb-rounded img{border-radius:3px}
.pure-badge,.pure-badge-error,.pure-badge-warning,.pure-badge-success,.pure-badge-info,.pure-badge-inverse{padding:.35em .9em .35em;background-color:#9d988e;color:#fff;display:inline-block;font-size:11.844px;font-weight:bold;line-height:1.2em;vertical-align:baseline;white-space:nowrap;border-radius:20px;margin:.2em}
.pure-badge-error{background-color:#d13c38}
.pure-badge-warning{background-color:#e78c05}
.pure-badge-success{background-color:#53b44f}
.pure-badge-info{background-color:#12a9da}
.pure-badge-inverse{background-color:#4d370c}
.pure-alert{position:relative;margin-bottom:1em;padding:1em;background:#ccc;border-radius:3px}
.pure-alert label{display:inline-block;*display:inline;*zoom:1;white-space:nowrap}
.pure-alert{background-color:#d1ebee;color:#668391}
.pure-alert-error{background-color:#d13c38;color:#fff}
.pure-alert-warning{background-color:#fabf67;color:#97600d}
.pure-alert-success{background-color:#53b44f;color:#fff}
.pure-popover{position:relative;width:300px;background-color:#f0f1f3;color:#2f3034;padding:15px;border:1px solid #ccc;border:1px solid #bfc0c8;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 2px 8px rgba(0,0,0,0.15);-moz-box-shadow:0 2px 8px rgba(0,0,0,0.15);box-shadow:0 2px 8px rgba(0,0,0,0.15);box-padding:border-box;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box}
.yui3-arrow-border,.pure-arrow{border-style:solid;border-width:10px;height:0;width:0;position:absolute}
.pure-popover.bottom .pure-arrow-border{border-color:#bfc0c8 transparent transparent transparent;bottom:-20px;left:50%}
.pure-popover.bottom .pure-arrow{border-color:#f0f1f3 transparent transparent transparent;bottom:-19px;left:50%}
.pure-popover.top .pure-arrow-border{border-color:transparent transparent #bfc0c8 transparent;top:-21px;left:50%}
.pure-popover.top .pure-arrow{border-color:transparent transparent #f0f1f3 transparent;top:-20px;left:50%}
.pure-popover.right .pure-arrow-border{border-color:transparent transparent transparent #bfc0c8;top:45%;right:-21px}
.pure-popover.right .pure-arrow{border-color:transparent transparent transparent #f0f1f3;top:45%;right:-20px}
.pure-popover.left .pure-arrow-border{border-color:transparent #bfc0c8 transparent transparent;top:45%;left:-21px}
.pure-popover.left .pure-arrow{border-color:transparent #f0f1f3 transparent transparent;top:45%;left:-20px}
.pure-button-block{display:block}
.pure-button.pure-button-small{padding:.6em 2em .65em;font-size:70%}
.pure-button.pure-button-large{padding:.8em 5em .9em;font-size:110%}
.pure-button.pure-button-selected{background-color:#345fcb;color:#fff}
.pure-button.pure-button-secondary{background:#a1c3ee;color:#1a587a}
.pure-button.pure-button-error{background:#d6564b;color:#fff}
.pure-button.pure-button-success{background:#36c547;color:#fff}
.pure-button.pure-button-warning{background:#ffa300;color:#fff}
@font-face{font-family:'nexa bold';src:url('webfont/nexa_bold-webfont.eot');src:url('webfont/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),url('webfont/nexa_bold-webfont.woff') format('woff'),url('webfont/nexa_bold-webfont.ttf') format('truetype'),url('webfont/nexa_bold-webfont.svg#webfont') format('svg')}@font-face{font-family:'nexa light';src:url('webfont/light-webfont.eot');src:url('webfont/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),url('webfont/nexa_light-webfont.woff') format('woff'),url('webfont/nexa_light-webfont.ttf') format('truetype'),url('webfont/nexa_light-webfont.svg#webfont') format('svg')}html,button,input,select,textarea{font-family:'nexa bold';font-style:normal;font-weight:400;letter-spacing:.1em;text-rendering:optimizeLegibility}
.pure-test{color:#f0f0f0;background:#f5f5f5;background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(1, #000));background:-ms-linear-gradient(bottom, #eee, #000);background:-moz-linear-gradient(center bottom, #eee 0, #000 100%);background:-o-linear-gradient(#000, #eee);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#eeeeee', GradientType=0)}
.pure-button-hover,.pure-button:hover,.pure-button:focus{background-color:#00d3b2}
.pure-button[disabled],.pure-button-disabled,.pure-button-disabled:hover,.pure-button-disabled:focus,.pure-button-disabled:active{background-color:#00d3b2}
.pure-button{width:100%;color:#444;color:rgba(0,0,0,0.8);*color:#444;border:1px solid #999;border:none rgba(0,0,0,0);background-color:#43eebf}
.float-left{float:left}
.float-right{float:right}
.clear-fix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.clear-fix{zoom:1}
.make-block{display:block}
.circular-icons{margin-top:7px;text-align:center}
.circular-icons>img{border-radius:80%}
.AddpaddingG{padding:10px 14px}
.centerText{text-align:center}
.hoCenterText{text-align:center}
